@media (max-width: 320px) {
	.myheader {
		width: 100%;
		background-size: cover;
	}
	.navigation {
		display: none;
	}
	.logo {
		margin-left: 20px;
	}
	.fa-bars {
		display: block;
	}
	.about-us {
		margin-left: -115px;
		width: 30px;
		font-size: 50px;
	}
	.section1 {
		flex-wrap: wrap;
	}
	.about {
		margin-top: 80px;
	}
	.title {
		font-size: 33px;
		width: 250px;
	}
	.paragraph1,
	.paragraph2 {
		width: 250px;
		margin-right: 80px;
	}
	.images {
		margin-right: -80px;
	}
	.plant {
		width: 260px;
		margin-left: 15px;
		margin-top: 10px;
	}
	.stairs {
		margin-left: 15px;
		margin-bottom: 10px;
	}
	.wraper-div {
		flex-wrap: wrap;
		margin-left: -145px;
	}	
	.about1 {
		margin-left: -125px;
	}
	.title1 {
		margin-left: -125px;
		width: 300px;
		font-size: 40px;
	}
	.Priorities {
		margin-top: 10px;
	}
}

@media (max-width: 480px) {
	.myheader {
		width: 100%;
		background-size: cover;
	}
	.navigation {
		display: none;
	}
	.logo {
		margin-left: 40px;
	}
	.fa-bars {
		display: block;
	}
	.about-us {
		margin-left: -100px;
		width: 30px;
		font-size: 50px;
	}
	.section1 {
		flex-wrap: wrap;
	}
	.about {
		margin-top: 80px;
	}
	.title {
		font-size: 33px;
		width: 300px;
		margin-right: 150px;
	}
	.paragraph1,
	.paragraph2 {
		width: 370px;
		margin-right: 80px;
	}
	.images {
		margin-right: 50px;
		display: flex;
		flex-direction: column;
		width: 260px;
	}
	.plant {
		width: 245px;
		margin-left: 15px;
		margin-top: 10px;
	}
	.stairs {
		margin-left: 15px;
		margin-bottom: 10px;
	}
	.wraper-div {
		flex-wrap: wrap;
		margin-left: -70px;
	}	
	.about1 {
		margin-left: -125px;
	}
	.title1 {
		margin-left: -125px;
		width: 300px;
		font-size: 40px;
	}
	.Priorities {
		margin-top: 10px;
	}
}